/*
* CultureMeshFFB-Specific sheets
 */

input {
	width: 100%;
	border-radius: 3px;
}

#cm-top-logo {
  width:85%;
}

#cm-icon {
  color: #EF5330;
}

#cm-header {
  border-bottom: 2px solid #ccc;
}

#cm-footer {
  border-top: 2px solid #ccc;
}

body {
	background-color: white;
}

.cm-profile-card {
  background-color: #EF5330;
}

.usr-img {
  border-radius: 50%;
}

.btn-group button {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #EF5330;
    color: white; /* White text */
    border: 0px;
}