/*
* CultureMeshFFB-Specific sheets
 */

input {
	width: 100%;
	border-radius: 3px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn {
	background-color: #ff3b3f;
	border-color: #ff3b3f;
	color: #efefef;
}

body {
	background-color: white;
}

#top-logo {
  width:85%;
}

#culturemesh-icon {
  color: #EF5330;
}

#culturemesh-header {
  border-bottom: 2px solid #ccc;
}

#culturemesh-footer {
  border-top: 2px solid #ccc;
}