/*
* CultureMeshFFB-Specific sheets
 */

input {
	width: 100%;
	border-radius: 3px;
}

body {
  background-color: white;
}

/* CultureMesh-specific id styling below */

#cm-profile-name {
  color: white;
}

#cm-top-logo {
  width:85%;
}

#cm-icon {
  color: #EF5330;
  text-decoration: none;
}

#cm-header {
  border-bottom: 2px solid #ccc;
}

#cm-footer {
  border-top: 2px solid #ccc;
}

#cm-profile-card {
  background-color: #EF5330;
}

#stage-title{
  color: white;
  font-size:30px;
  font-family: 'Lato-bold', sans-serif;
  font-weight: 20;
  letter-spacing:1px;
  text-shadow: -1px 0 #6e6e6e, 0 1px #6e6e6e, 1px 0 #6e6e6e, 0 -1px #6e6e6e;
  text-shadow: horizontal-offset vertical-offset blur #6e6e6e;
}

/* Add a background color on hover */
#cm-button:active {
    color: #EF5330;
    border: 0px;
}

/* CultureMesh-specific class styling below */

.usr-image {
  border-radius: 100%;
}

.cm-profile-dashboard {
  background-color: #f7f7f7;
}

.btn-group a {
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
}

.btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.cm-event-blurb {
  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB;
  border-radius: 4px;
  box-shadow: 1px 1px #ccc;
  width: 100%;
  background-color: white;
}


.cm-account-section {
  border-top:    1px solid  #ff0;
  border-right:  0px;
  border-left:   0px;
  border-width: 1px;
  border-color: gray;
  border-radius: 0px;
  width: 100%;
  background-color: white;
}

.cm-submit-btn {
    background-color: #97CB38;
    color: white;
    border-width: 1px;
    padding: 5px;
}

.center {
    margin: 0 auto;
    width: 80%;
}