#logo {
	display: block;
	margin: auto;
}

input {
	width: 100%;
	border-radius: 3px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn {
	background-color: #ff3b3f;
	border-color: #ff3b3f;
	color: #efefef;
}

body {
	background-color: #efefef;
}