{% extends "base.html" %}

    {% block content %}
        <h3>Search for people who</h3>
        <form action="" method="post">
            <select name="search_type">
                <option value="location">are from</option>
                <option value="language">speak</option>
            </select>
            {{ form.hidden_tag() }}
            <p>
                {{ form.origin_or_language(size=32) }}
            </p>
            <p>
                {{ form.residence.label }}<br>
                {{ form.residence(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endblock %}
    
    {% block footer %}
        {% if current_user.is_authenticated %}
            {{ super() }}
        {% else %}
            <!-- empty -->
        {% endif %}
    {% endblock %}
