{% macro error_blurb(msg) %}
  <div class="py-3">
    <div class="cm-blurb py-2">
      <div class="container-fluid">
        <div class="row py-2">
          <div class="col-1">
            <i id="cm-icon" class="fas fa-exclamation-circle"></i>
          </div>
          <div class="col">
            <span class="cm-regular-font-small">{{ msg }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro sad_blurb(msg) %}
  <div class="py-3">
    <div class="cm-blurb py-2">
      <div class="container-fluid">
        <div class="row py-2">
          <div class="col-1">
            <i id="cm-icon" class="fas fa-frown"></i>
          </div>
          <div class="col">
            <span class="cm-regular-font-small">{{ msg }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro eventblurb(event) %}
  <div class="p-2 cm-event-blurb">
    <div class="container">
      <div class="row py-2">
        <div class="col-4 cm-event-blurb-col-l">
          <p class="pt-3 cm-blurb-date">
            {{ event['month_abbr'] }} {{ event['day'] }}, {{ event['year'] }}
          </p>
          <p class="cm-blurb-weekday">
            {{ event['weekday_abbr'] }}
          </p>
        </div>
        <div class="col-8 cm-event-blurb-col-r py-2">
          <a href="/event?id={{ event['id'] }}" class="hidden-link">
            <p class="cm-blurb-title">
              {{ event['title'] }}
            </p>
          </a>
          <p class="cm-blurb-subtitle">
            {{ event['time'] }}
          </p>
          <p class="cm-blurb-subsubtitle">
            {% if event['num_registered'] > 1 %}
              <i id="cm-icon" class="fas fa-user"></i>
              <span>{{ event['num_registered'] }} people going</span>
            {% elif event['num_registered'] == 1 %}
              <i id="cm-icon" class="fas fa-user"></i>
              <span>{{ event['num_registered'] }} person going</span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro eventblurbwithnetwork(event) %}
  <div class="p-2 cm-event-blurb">
    <div class="container">
      <div class="row py-2">
        <div class="col-4 cm-event-blurb-col-l">
          <p class="pt-3 cm-blurb-date">
            {{ event['month_abbr'] }} {{ event['day'] }}, {{ event['year'] }}
          </p>
          <p class="cm-blurb-weekday">
            {{ event['weekday_abbr'] }}
          </p>
        </div>
        <div class="col-8 cm-event-blurb-col-r py-2">
          <a href="/event?id={{ event['id'] }}" class="hidden-link">
            <p class="cm-blurb-title">
              {{ event['title'] }}
            </p>
          </a>
          <p class="cm-blurb-subtitle">
            {{ event['time'] }}
          </p>
        </div>
      </div>
      <div class="row p-2">
        <a href="/network?id={{ event['id_network'] }}" class="hidden-link">
          <div class="cm-post-blurb-small-text">
            <i id="cm-icon" class="fas fa-users"></i>
            <span class="cm-light-font-small">{{ event['network_title'] }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro postblurb(post) %}
  <div class="p-3 cm-post-blurb">
    <div class="container">
      <div class="row">
        <a href="/u/{{ post['id_user'] }}" class="hidden-link">
          <div class="cm-username-small">{{ post['username'] }}</div>
        </a>
        <span class="cm-time-ago-small">{{ post['time_ago'] }}</span>
      </div>
      <div class="row py-1">
        <a href="/post?id={{ post['id'] }}" class="hidden-link">
          <p class="cm-post-blurb-text">
            {{ post['post_text'] | truncate(128) }}
          </p>
        </a>
      </div>
      <div class="row">
        <a href="/post?id={{ post['id'] }}" class="hidden-link">
          <div class="cm-post-blurb-small-text">
            <i class="fas fa-comment fa-sm"></i>
            {% if post['reply_count'] == 1 %}
              {{ post['reply_count']}} reply
            {% else %}
              {{ post['reply_count']}} replies
            {% endif %}
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro postblurbwithnetwork(post) %}
  <div class="p-3 cm-post-blurb">
    <div class="container">
      <div class="row">
        <a href="/u/{{ post['id_user'] }}" class="hidden-link">
          <div class="cm-username-small">{{ post['username'] }}</div>
        </a>
        <span class="cm-time-ago-small">{{ post['time_ago'] }}</span>
      </div>
      <div class="row py-1">
        <a href="/post?id={{ post['id'] }}" class="hidden-link">
          <p class="cm-post-blurb-text">
            {{ post['post_text'] | truncate(128) }}
          </p>
        </a>
      </div>
      <div class="row">
        <a href="/post?id={{ post['id'] }}" class="hidden-link">
          <div class="cm-post-blurb-small-text">
            <i class="fas fa-comment fa-sm"></i>
            {% if post['reply_count'] == 1 %}
              {{ post['reply_count']}} reply
            {% else %}
              {{ post['reply_count']}} replies
            {% endif %}
          </div>
        </a>
      </div>
      <div class="row">
        <a href="/network?id={{ post['id_network'] }}" class="hidden-link">
          <div class="cm-post-blurb-small-text">
            <i id="cm-icon" class="fas fa-users"></i>
            <span class="cm-light-font-small">{{ post['network_title'] }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro networkblurb(network) %}
  <div class="p-2 cm-network-blurb">
    <div class="pt-1 container">
      <div class="row">
        <div class="col-1">
          <a href="/network?id={{network.id}}" class="hidden-link">
            <i id="cm-icon" class="fas fa-users"></i>
          </a>
        </div>
        <div class="col">
          <a href="/network?id={{network.id}}" class="hidden-link">
            <p class="cm-network-blurb-title">
              {{ network.title }}
            </p>
          </a>
        </div>
        <div class="col-1 pr-4">
          <a href="/network/leave?id={{network.id}}" class="hidden-link">
            <i class="red fas fa-minus-circle fa-xs"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="cm-network-blurb-detail-l">
            Joined {{ network.join_date }}
          </p>
        </div>
        <div class="col">
          <p class="cm-network-blurb-detail-r">
            {% if network.user_count == 1 %}
              {{ network.user_count }} member
            {% else %}
              {{ network.user_count }} members
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro networkblurbnoremove(network) %}
  <div class="p-2 cm-network-blurb">
    <div class="pt-1 container">
      <div class="row">
        <div class="col-1">
          <a href="/network?id={{network.id}}" class="hidden-link">
            <i id="cm-icon" class="fas fa-users"></i>
          </a>
        </div>
        <div class="col">
          <a href="/network?id={{network.id}}" class="hidden-link">
            <p class="cm-network-blurb-title">
              {{ network.title }}
            </p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="cm-network-blurb-detail-l">
            Joined {{ network.join_date }}
          </p>
        </div>
        <div class="col">
          <p class="cm-network-blurb-detail-r">
            {% if network.user_count == 1 %}
              {{ network.user_count }} member
            {% else %}
              {{ network.user_count }} members
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
