{% macro eventblurb(event) %}
  <div class="p-2 cm-event-blurb">
    <div class="container">
      <div class="row">
        <div class="col-4 cm-event-blurb-col-l">
          <p class="pt-3 cm-blurb-date">
            {{ event['month_abbr'] }} {{ event['day'] }}, {{ event['year'] }}
          </p>
          <p class="cm-blurb-weekday">
            {{ event['weekday_abbr'] }}
          </p>
        </div>
        <div class="col-8 cm-event-blurb-col-r">
          <a href="/event?id={{ event['id'] }}" class="hidden-link">
            <p class="cm-blurb-title">
              {{ event['title'] }}
            </p>
          </a>
          <p class="cm-blurb-subtitle">
            {{ event['time'] }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro postblurb(post) %}
  <div class="p-2 cm-post-blurb">
    <div class="container">
      <div class="row">
        <span class="cm-username-small">{{ post['username'] }}</span>
        <span class="cm-time-ago-small">{{ post['time_ago'] }}</span>
      </div>
      <div class="row py-1">
        <a href="/post?id={{ post['id'] }}" class="hidden-link">
          <p class="cm-post-blurb-text">
            {{ post['post_text'] | truncate(128) }}
          </p>
        </a>
      </div>
      <div class="row">
        <a href="/post?id={{ post['id'] }}" class="hidden-link">
          <div class="cm-post-blurb-small-text">
            <i class="fas fa-comment fa-sm"></i>
            {{ post['reply_count']}} replies
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro networkblurb(network) %}
  <div class="p-2 cm-network-blurb">
    <div class="container">
      <div class="row">
        <a href="/network?id={{network.id}}" class="hidden-link">
          <p class="cm-network-blurb-title">
            {{ network.title }}
          </p>
        </a>
      </div>
      <div class="row">
        <div class="col">
          <p class="cm-network-blurb-detail-l">
            Joined {{ network.join_date }}
          </p>
        </div>
        <div class="col">
          <p class="cm-network-blurb-detail-r">
            {{ network.user_count }} member(s)
          </p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
