{% from "macros.html" import networkblurb %}
{% extends "dashboard.html" %}


{% block dashboard_content %}
<div class="p-3 container">
  <div class="p-3">
    <h4 class="text-center">Your Networks</h2>
      {% if networks|length == 0 %}
          You don't belong to any networks yet!
      {% else %}
          {% for network in networks %}
            <div class="py-1 row">
              {{ networkblurb(network) }}
            </div>
          {% endfor %}
      {% endif %}
  </div>
</div>
{% endblock %}
