{% extends "dashboard.html" %}


  {% block dashboard_content %}
  <div class="p-3 container">
    <div class="p-3">
      <h4 class="text-center">Your Networks</h2>
        {% if networks|length == 0 %}
            You don't belong to any networks yet!
        {% else %}
            {% for network in networks %}
              <div class="py-1 row">
                <div class="p-2 cm-event-blurb">
                  <div class="text-center">
                    {{ network.title }}
                  </div>
                  <div class="p-2 text-right">
                    <a href="/network?id={{network.id}}">Go to Network</a>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    </div>
  </div>
  {% endblock %}
