{% extends "base.html" %}

{% block content %}
<div class="p-3 container-fluid">
  <h4 class="text-center">About CultureMesh</h4>

  <div class="p-3 row">
    <p class="font-italic text-center">CultureMesh is building networks to match the real-world dynamics of 
      people living, working, and traveling outside of their home countries 
      to knit the diverse fabrics of our world together.</p>
  </div>

  <div class="container">
    <div class="py-1 row">
      <div class="p-3 card cm-center-card">
        <div class="text-center card-body">
          <img src="https://www.culturemesh.com/internal/team/Ken_Chester.jpg" style="width:100%" 
              class="img-fluid" alt="Responsive image"/>
          <b class="text-bold">Ken Chester</b></br>CEO
        </div>
      </div>
    </div>

    <div class="py-1 row">
      <div class="p-3 card cm-center-card">
        <div class="text-center card-body">
          <img src="https://www.culturemesh.com/internal/team/Andrew_Krussel.jpg" style="width:100%" 
            class="img-fluid" alt="Responsive image"/ >
          <b class="text-bold">Andrew Krussel</b></br>Financial Strategist
        </div>
      </div>
    </div>

    <div class="py-1 row">
      <div class="p-3 card cm-center-card">
        <div class="text-center card-body">
          <img src="https://www.culturemesh.com/internal/team/Cindy_Chang.jpg" style="width:100%" 
            class="img-fluid" alt="Responsive image"/>
          <b class="text-bold">Cindy Chang</b></br>Designer
        </div>
      </div>
    </div>

    <div class="py-1 row">
      <div class="p-3 card cm-center-card">
        <div class="text-center card-body">
          <img src="https://www.culturemesh.com/internal/team/Ian_Nottage.jpg" style="width:100%"
            class="img-fluid" alt="Responsive image"/>
          <b class="text-bold">Ian Nottage</b></br>Lead Developer
        </div>
      </div>
    </div>

    <div class="py-1 row">
      <div class="p-3 card cm-center-card">
        <div class="text-center card-body">
          <img src="https://www.culturemesh.com/internal/team/linglong-wei.jpg" style="width:100%"
            class="img-fluid" alt="Responsive image"/>
          <b class="text-bold">Linglong Wei</b></br>Business Development Director
        </div>
      </div>
    </div>

    <div class="py-1 row">
      <div class="p-3 card cm-center-card">
        <div class="text-center card-body">
          <img src="https://www.culturemesh.com/internal/team/sheikh-omar-faye.jpg" style="width:100%"
            class="img-fluid" alt="Responsive image"/>
          <b class="text-bold">Sheikh Omar Faye</b></br>Gambian Ambassador to 
          the US and CultureMesh Diplomatic Advisor
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block footer%}
<!-- empty -->
{% endblock %}
