{% extends "home_dashboard.html" %}


  {% block dashboard_content %}
  <div class="container-fluid">
    <div class="p-3 text-center">
      <h4>Your Networks</h2>
        {% if user_network_titles|length == 0 %}
            You don't belong to any networks yet!
        {% else %}
            {% for network_title in user_network_titles %}
              <div class="py-1 row">
                <div class="p-2 cm-event-blurb">
                  <div class="text-center">
                    {{ network_title }}
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    </div>

  </div>
  {% endblock %}
