{% extends "base.html" %}

{% block content %}
	<div class="row">
		<center>
		<h3 class="p-4" id="stage-title">
			Connecting the world's diasporas
		</h3>
			<img src="https://www.culturemesh.com/images/cmfrontpage_image15.jpg" height="207" width="368">
				  <p class="p-3 text-center">
					  <a href="/home/">Login</a>
				  </p>
		<h2 class="p-1" id="title-header">
			Our Vision
		</h2>
			<h3 class="p-2" id="title-description">
				Millions of people live, work, and play outside of their home towns, provinces, states, and countries.

				At CultureMesh, we're building networks to match these real-world dynamics and knit the diverse fabrics of our world together.
			</h3>
			<h2 class="p-1" id="title-header">
			How it Works
			</h2>
			<h3 class="p-2" id="title-description">
				1. Join a network you belong to. Many places feel like home? At CultureMesh you can easily switch between networks.
				<br>
				2. Join the conversation. Post your thoughts and opinions. Share what's new!
				<br>
				3. Connect to your diaspora - the world is your playground!
			</h3>
		</center>
	</div>

<!--{% endblock %}