<head>
	<title>CultureMesh</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}"> -->
	<link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>
	<br><br>
	<img src="https://www.culturemesh.com/images/logo_header.png" id="logo"/>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<form action="search"> <!-- culturemesh.com/search?from=sanfran&in=la -->
				<h4>People</h4>
				<input type="text" name="from" placeholder="from" class="form-control">
				<div class="input-group">
					<input type="text" name="in" placeholder="in" class="form-control">
					<span class="input-group-btn">

						<input class="btn btn-primary" type="submit" value="Search" class="form-control">
					</span>
				</div>
			</form>

			<form action="login">
				<h4>Login</h4>
				<input type="text" name="username" placeholder="username" class="form-control">
				<div class="input-group">
					<input type="text" name="password" placeholder="password" class="form-control">
					<span class="input-group-btn">
						<input class="btn btn-primary" type="submit" value="Login" class="form-control">
					</span>
				</div>
			</form>

			<a href="#">Forgot Password?</a> | <a href="#">Register New User</a>
		</div>
		<div class="col-xs-2"></div>
	</div>
</body>