<!DOCTYPE html>
<html>

<head>
    <title>CultureMesh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/culturemesh-style.css') }}">
</head>

<body>
    <div class="wrapper container-fluid cm-login-body">
        <div class="cm-logo-section">
            <img src="https://www.culturemesh.com/images/logo_header.png" />
        </div>
        <div class="cm-signin-section">
            <div class="cm-signin-prompt">
                {{ msg }}
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <input type="text" class="cm-input-field" name="email_or_username" placeholder="Email or Username"></input>
                <br>
                <input type="text" class="cm-input-field" name="password" placeholder="Password"></input>
                <br>
                <br>
                <input type="submit" class="cm-box-button" id="signin-button" value="Login"></input>
            </form>
        </div>
        <div class="cm-signup-section">
            <div class="cm-account-prompt p-2">
                Need an account?
            </div>
            <a href="/register">Sign Up</a>
        </div>
    </div>
</body>

</html>
