<head>
  <title>CultureMesh</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/culturemesh-style.css') }}">
</head>

<body>
  <div class="cm-login-body">
    <div class="cm-logo-section">
      <img src="https://www.culturemesh.com/images/logo_header.png"/>
    </div>
    <div class="cm-signin-section">
      <div class="cm-signin-prompt">
        {% block msg %}
          Sign In
        {% endblock %}
      </div>
       <form action="" method="post">
        {{ form.hidden_tag() }}
        <input type="text" placeholder="User ID (1-5)" name="user_id" value="{{ request.form.user_id }}"><br><br>
        <input style="color: white; background-color: #EF5330; border: 0px;" class="btn btn-default" type="submit" value="Login">
      </form>
    </div>

  </div>
</body>
