{% extends "base.html" %}

{% block content %}
<div class="p-3 container-fluid">
  <h3 class="text-center">{{ network_info['network_title'] }}</h4>

  <div class="p-3 row">
    <p class="font-italic text-center">Number of users and posts and events will go here!</p>
  <div>

  <h5 class="text-center">Posts</h5>
  <div class="p-3 container">
    <div class="py-1 row">
      {% for post in network_info['posts'] %}
      <div class="p-3 card">
        <div class="text-center card-body">
          <p>{{ post }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="py-1 row">
      <div class="p-3 card">
        <div class="text-center card-body">
          More posts!
        </div>
      </div>
    </div>

    <h5 class="text-center">Events</h5>
    <div class="py-1 row">
      {% for event in network_info['events'] %}
      <div class="p-3 card">
        <div class="text-center card-body">
          <p>{{ event }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="py-1 row">
      <div class="p-3 card">
        <div class="text-center card-body">
          More events!
        </div>
      </div>
    </div>

    <h5 class="text-center">Users</h5>
    <div class="py-1 row">
      {% for user in network_info['users'] %}
      <div class="p-3 card">
        <div class="text-center card-body">
          <p>{{ user }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
