{% extends "base.html" %}

{% block content %}
<div class="p-3 container-fluid">
  <h4 class="text-center">Post</h4>

    <div class="py-1 row">
      <div class="p-2 cm-event-blurb">
        <div class="text-center">
          Post Id: {{ post['id'] }} <br>
          Date: {{ post['post_date'] }} <br>
          Posted By: User {{ post['user_id'] }} in  Network {{ post['network_id'] }}
        </div>
      </div>
    </div>
    <div class="py-1 row">
      <div class="p-2 cm-event-blurb">
        <div class="text-center">
          {{ post['post_text'] }} <br>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
