<!DOCTYPE html>
<html>
	<head>
		<title>CultureMesh</title>
	  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/culturemesh-style.css') }}">
	</head>
	<body>
		<div class="cm-login-body">
			<div class="cm-logo-section">
				<img src="https://www.culturemesh.com/images/logo_header.png"/>
			</div>
				<div class="row">
					<form method="POST">
					<div class="container p-5">
						<div class="row">
							<input type="text" class="form-control my-1" id="name" placeholder="Name"></input>
							<input type="email" class="form-control my-1" id="email" placeholder="Email"></input>
							<input type="password" class="form-control my-1" id="password" placeholder="Password"></input>
							<input type="password" class="form-control my-1" id="confirm-password" placeholder="Confirm Password"></input>
						</div>
						<div class="row my-3">
							<input type="submit" class="cm-box-button" id="signup-button-register" value="SIGN UP">
							</input>
						</div>
						<p class="text-center my-2">Already have an account?</p>
						<div class="row">
							<input type="submit" class="cm-box-button" id="signin-button-register" value="SIGN IN">
							</input>
						</div>
					</div>
			</form>
		</div>
	</div>
	</body>
</html>
