<!DOCTYPE html>
<html>
	<head>
		<title>CultureMesh</title>
	  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/culturemesh-style.css') }}">
	</head>
	<body>
		<div class="wrapper container-fluid">
			<div class="row">
				<!-- <div class="center text-center"> -->
					<!-- <div id="cm-register-logo"> -->
						<img class="center-block" src="https://www.culturemesh.com/images/logo_header.png"/>
					<!-- </div> -->
				<!-- </div> -->

			</div>
			<form method="POST">
				<div class="row">
					<div class="container p-5">
						<div class="row">
							{{ form.hidden_tag() }}
							<input type="text" class="form-control my-1" id="name" placeholder="Name"></input>
							<input type="email" class="form-control my-1" id="email" placeholder="Email"></input>
							<input type="password" class="form-control my-1" id="password" placeholder="Password"></input>
							<input type="password" class="form-control my-1" id="confirm-password" placeholder="Confirm Password"></input>
						</div>
						<div class="row">
							<button type="submit" class="btn btn-primary center my-3" id="signup-button">Sign Up</button>
						</div>
						<p class="text-center my-2">Already have an account?</p>
						<div class="text-center">
								<a href="/login">Sign In</a>
						</div>
					</div>
			</form>
		</div>
	</body>
</html>
