{% extends "base.html" %}

{% block content %}
<div class="p-3 container-fluid text-center">
  <h4 class="text-center">Welcome, User!</h4>

  <div class="p-3 container">
    <div class="py-1 row">
      <div class="p-3 card text-center">
        <p>Dashboard</p>
      </div>
    </div>

  <div class="p-3 container">
    <div class="py-1 row">
      <div class="p-3 card text-center">
        <p>Events</p>
      </div>
    </div>
  </div>

    <div class="p-3 container">
    <div class="py-1 row">
      <div class="p-3 card text-center">
        <p>Networks</p>
      </div>
    </div>
  </div>

    <div class="p-3 container">
    <div class="py-1 row">
      <div class="p-3 card text-center">
        <p>Account</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}