/*
* CultureMeshFFB-Specific sheets
 */

input {
  width: 100%;
  border-radius: 3px;
}

body {
	height: 100vh;
	width: 100%;
  background-color: white;
}

/* CultureMesh-specific id styling below */

#cm-profile-name {
  color: white;
}

#cm-top-logo {
  width:85%;
}

#cm-icon {
  color: #EF5330;
  text-decoration: none;
}

#cm-header {
  border-bottom: 2px solid #ccc;
}

#cm-footer {
  border-top: 2px solid #ccc;
}

#cm-profile-card {
  background-color: #EF5330;
}

#stage-title{
  color: white;
  font-size:30px;
  font-family: 'Lato-bold', sans-serif;
  font-weight: 20;
  letter-spacing:1px;
  text-shadow: -1px 0 #6e6e6e, 0 1px #6e6e6e, 1px 0 #6e6e6e, 0 -1px #6e6e6e;
  text-shadow: horizontal-offset vertical-offset blur #6e6e6e;
}

/* Add a background color on hover */
#cm-button:active {
    color: #EF5330;
    border: 0px;
}

/* CultureMesh-specific class styling below */

.usr-image {
  border-radius: 100%;
}

.cm-profile-dashboard {
  background-color: #f7f7f7;
}

.btn-group a {
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
}

.btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.cm-copyright {
  font-size: small;
  border-top: 1px solid #ccc;
}

.cm-event-blurb {
  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB;
  border-radius: 4px;
  box-shadow: 1px 1px #ccc;
  width: 100%;
  background-color: white;
}


.cm-account-section {
  border-top:    1px solid  #ff0;
  border-right:  0px;
  border-left:   0px;
  border-width: 1px;
  border-color: gray;
  border-radius: 0px;
  width: 100%;
  background-color: white;
}

.cm-submit-btn {
    background-color: #97CB38;
    color: white;
    border-width: 1px;
    padding: 5px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

/*
 * Styling for login and register pages.
 */

.cm-login-body {
  background-color: #3c3c3c;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  overflow: scroll;
}

.cm-logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cm-signin-section {
  margin: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex: 1;
}

.cm-signin-prompt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: grey;
}

.cm-input-field {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  color: black;
  width: 100%;
  align-self: stretch;
}

.cm-box-button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #dd5935;
  color: white;
  border: none;
}

.cm-signup-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cm-account-prompt {
  color: grey;
}

.cm-text-button {
  margin-top: 30px;
  text-decoration: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.cm-text-button:hover {
  text-decoration: underline;
}

.cm-register-body {
  background-color: #3c3c3c;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  overflow: scroll;
}

.cm-register-signup-section {
  padding: 30px;
  background-color: #3c3c3c;
  flex: .6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.button-background {
	background-color: #000000;
}

.cm-or-prompt {
  align-self: center;
  color: grey;
}

.cm-register-text-button {
  text-decoration: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  color: grey;
}

#cm-signinfb-button {
  background-color: #3c3c3c;
}

.cm-form-style {
  background-color: #3c3c3c;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
