/*
 * Styling for login page. 
 */

body {
  background-color: #3c3c3c;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  overflow: scroll;
}

.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-section {
  margin: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex: 1;
}

.signin-prompt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: grey;
}

.input-field {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  color: black;
  width: 100%;
  align-self: stretch;
}

.box-button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #dd5935;
  color: white;
  border: none;
}

.signup-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-prompt {
  color: grey;
}

.text-button {
  margin-top: 30px;
  text-decoration: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.text-button:hover {
  text-decoration: underline;
}