{% from "macros.html" import postblurb %}
{% extends "network.html" %}

{% block network_content %}

  <div class="p-3 text-center">
    <h4>Posts</h4>
  </div>

  {% if network_info['user_is_member'] %}
    <div class="pb-3 text-center">
      <a class="btn btn-secondary"
         type="button"
         href="/network/posts/new?id={{ network_info['id'] }}"
         id="cm-create-post-button">
         + Create a Post
      </a>
    </div>
  {% endif %}

  {% for post in network_info['posts'] %}
  <div class="py-1 row">
    {{ postblurb(post) }}
  </div>
  {% endfor %}

  {% if network_info['posts']|length == 0 %}
    <p> No more posts to see. </p>
  {% else %}
    <div class="py-3 row">
      <div class="container-fluid">
        <div class="row">
          <div class="col text-right px-4">
          </div>
          <div class="col text-left px-4">
            <a href="/network/posts?id={{ network_info['id'] }}&index={{ post_index }}">
              <i id="cm-icon" class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-left cm-orange-text">
          </div>
          <div class="col text-right cm-orange-text">
            <a class="cm-orange-text"
             href="/network/posts?id={{ network_info['id'] }}&index={{ post_index }}">
            Next
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
