{% extends "base.html" %}

{% block content %}

  <!-- Post text and blurb -->
  <div class="wrapper container-fluid">

    <div class="my-2 py-1 row">
      <div class="px-4 py-2 row">
        <div id="cm-post-blurb">
          Network: <strong>{{ network_title }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper container-fluid">
    <iframe name="dummyframe" id="cm-dummyframe"></iframe>
    <form action="{{ create_post_url }}"
          method="POST"
          target="dummyframe">

      <input type="hidden" name="id_user" value="{{ curr_user_id }}">
      <input type="hidden" name="id_network" value="{{ id_network }}">
      <input type="hidden" name="vid_link" value="">
      <input type="hidden" name="img_link" value="">

      <div class="cm-create-post-div text-right">
        <textarea class="my-1 form-control"
                  rows="4"
                  id="cm-post-comment"
                  name="post_text"
                  placeholder="Create a post..."></textarea>
      </div>
      <div class="col">
        <div class="row">
            <input type="submit"
              class="my-2 btn btn-secondary btn-sm pr-3"
              id="cm-post-submit-button"
              value="Submit"/>
        </div>
        <div class="row text-right cm-small-note">
            <p>* Go to the network page to see your post after submitting.</p>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
