{% from "macros.html" import postblurb %}
{% extends "network.html" %}

{% block network_content %}

  <div class="p-3 text-center">
    <h4>Posts</h4>
  </div>

  {% for post in network_info['posts'] %}
  <div class="py-1 row">
    {{ postblurb(post) }}
  </div>
  {% endfor %}

  <div class="py-1 row">
    <div class="text-center">
      <a id="cm-button" type="button" class="btn btn-secondary" href="/network/posts?id={{ network_info['network_id'] }}&index={{ post_index }}">
        More posts
      </a>
    </div>
  </div>

{% endblock %}
</div>
