{% from "macros.html" import eventblurb %}
{% extends "network.html" %}

{% block network_content %}

  <div class="p-3 text-center">
    <h4>Events</h4>
  </div>

  <div class="pb-3 text-center">
    <a class="btn btn-secondary"
       type="button"
       href="/network/events/new?id={{ network_info['id'] }}"
       id="cm-create-event-button">
       + Create an Event
    </a>
  </div>

  {% for event in network_info['events'] %}
  <div class="py-1 row">
    {{ eventblurb(event) }}
  </div>
  {% endfor %}

  <div class="py-1 row">
    <div class="p-2">
      <a type="button" class="btn btn-secondary" href="/network/events?id={{ network_info['id'] }}&index={{ event_index }}">
        View older events
      </a>
    </div>
  </div>

{% endblock %}
</div>
